%h2 EY C3 Signature Maker
%hr

- if @signature.errors.present?
  .alert

    %span.pull-right
      Having trouble?
      = link_to "Send us feedback!", feedback_url, target: '_blank'

    = @signature.errors.full_messages.to_sentence + '.'

= simple_form_for(@signature, :url => root_path, :method => :get, :html => { :class => 'form-horizontal' }) do |f|

  = f.input :name, :placeholder => 'Dr. John Smith'

  = f.input :role, :placeholder => 'Managing Consultant'

  = f.input :company

  = f.input :email, :wrapper => :append, :class => 'inline' do
    = f.input_field :email, :placeholder => 'john.smith'
    %span.add-on @c3.com.au

  = f.input :phone, :placeholder => '+61 314 159 265'

  = f.input :linkedin_url, :input_html => { :class => 'input-xxlarge' }

  = f.input :twitter, :wrapper => :prepend, :class => 'inline' do
    %span.add-on @
    = f.input_field :twitter, :placeholder => 'C3Business'

  = f.input :address, :input_html => { :class => 'input-xxlarge' }

  = f.input :logo, collection: %w( c3 imc ), include_blank: false

  = f.input :website

  = f.input :assistant_name

  = f.input :assistant_phone, :placeholder => '+61 314 159 265'

  = f.input :assistant_email, :placeholder => 'jim.smith@c3.com.au'

  .form-actions
    = f.button :submit, "Generate"

- if @valid

  %h4 Minimal
  .row
    .span2
      = link_to 'Download', url_for(:action => 'download', :size => 'minimal', :signature => params[:signature]), :class => 'btn'
    .span10
      %iframe{:src => url_for(:action => 'preview', :size => 'minimal', :signature => params[:signature]), :width => '100%', :height => '240'}

  %h4 Medium
  .row
    .span2
      = link_to 'Download', url_for(:action => 'download', :size => 'medium', :signature => params[:signature]), :class => 'btn'
    .span10
      %iframe{:src => url_for(:action => 'preview', :size => 'medium', :signature => params[:signature]), :width => '100%', :height => '240'}

  %h4 Full-sized
  .row
    .span2
      = link_to 'Download', url_for(:action => 'download', :size => 'full', :signature => params[:signature]), :class => 'btn'
    .span10
      %iframe{:src => url_for(:action => 'preview', :size => 'full', :signature => params[:signature]), :width => '100%', :height => '240'}

<br/>
<br/>
<br/>
<br/>
<br/>
